{% extends 'base.html' %}

{% block head %}
<title>Reservation Sniper</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Reservation Sniper</h1>

    {% if restaurants|length < 1 %}
    <h4>There are no restaurants!</h4>
    {% else %}

    <table>
        <tr>
            <th>Restaurant Name</th>
            <th>Venue ID</th>
            <th>Actions</th>
        </tr>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.restName }}</td>
                <td>{{ restaurant.venId }}</td>
                <td>
                    <a href="/delete/{{restaurant.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/" method="POST">
        <input type="text" name="userRest" id="userRest">
        <input type="submit" value="Enter Name of Restaurant">
    </form>
</div>
{% endblock %}